@model IEnumerable<NvhK22cntt3Lession11_2210900031.Models.NvhCategory>

@{
    ViewBag.Title = "danh mục sản phẩm";
    Layout = "~/Views/Shared/Nvh2210900031Layout.cshtml";
}

<h2>danh mục sản phẩm</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<a href="/NvhCategories/Create" class="btn btn-primary my-3"> thêm mới </a>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NvhID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NvhCateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NvhStatus)
        </th>
        <th> chức năng </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NvhID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NvhCateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NvhStatus)
        </td>
        @if(item.NvhStatus == true)
        {
        <span style="color:green"> hoạt động </span>
        }
          else
                {
                    <span style="color:red">không hoạt động </span>
                }
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.NvhID }) |
            @Html.ActionLink("Details", "Details", new { id = item.NvhID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.NvhID })
        </td>
    </tr>
}

</table>
